<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megam.medispachecliente">

    <application
        android:name=".Myapp"
        android:allowBackup="true"
        android:icon="@drawable/iconetres"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconetres"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ResetSenha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.usercadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.Cadastrar_Produto" />
        <activity android:name=".view.Atualizar_Produto" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
    </application>

</manifest>